<!--<h1> {{ signup.message }}</h1>-->

<div class="container login-reg">
    <form name="registerForm" class="form-horizontal">
        <div class="form-group">
            <label class="col-sm-3 control-label" for="username">Username: </label>
            <div class="col-sm-7">
                <input type="text" class="form-control" id="username" required="required" ng-model="user.username">
            </div>
        </div>

        <div class="form-group">
            <label class="col-sm-3 control-label" for="password">Password: </label>
            <div class="col-sm-7">
                <input type="text" class="form-control" id="password" required="required" ng-model="user.password">
            </div>
        </div>

        <div class="form-group">
            <label class="col-sm-3 control-label" for="confirmPassword">Confirm password: </label>
            <div class="col-sm-7">
                <input type="text" class="form-control" id="confirmPassword" required="required" ng-model="user.confirmPassword">
            </div>
        </div>

        <div class="col-sm-3">
            <button class="reg-login btn btn-outline-secondary" ng-class="registerForm.$invalid ? 'disabled-button' : ''" ng-disabled="registerForm.$invalid || user.password != user.confirmPassword"
            ng-click="signup.register(user)"> Register
            </button>
        </div>
        <div class="col-sm-7">
            <h6>Already have an account <a ui-sref="login">Log in</a></h6>
        </div>
    </form>
</div>