body {
    width: 70%;
    margin: 15px auto;
    padding: 50px;
}

form {
    margin: 10px auto;
}

.container {
    width: 100%;
}

.form-group {
    margin: 10px 0;
}

.h1 {
    color: blue;
}

input {
    display: block;
    width: 200px;
}

.reg-login {
    margin-left: 230px;
}
