<!--<h1 class="h1">{{login.hello}}</h1>-->
<div class="container">
    <form name="loginForm" class="form-horizontal">
        <div class="form-group">
            <label class="col-sm-3 control-label" for="username">Username: </label>
            <div class="col-sm-6">
                <input type="text" class="form-control" id="username" required="required" ng-model="user.username">
            </div>
        </div>

        <div class="form-group">
            <label class="col-sm-3 control-label" for="password">Password: </label>
            <div class="col-sm-6">
                <input type="text" class="form-control" id="password" required="required" ng-model="user.password">
            </div>
        </div>
        <div class="col-sm-3">
            <button class="reg-login btn btn-outline-secondary" ng-class="loginForm.$invalid ? 'disabled-button' : ''" ng-disabled="loginForm.$invalid"
            ng-click="login.login(user)">
                Login
            </button>
        </div>
    </form>
</div>